{% extends 'base.html' %}
{% block content %}

<div class="container" align="center">
    <h2>Create Group</h2>

    {% if errorMessage %}
    {{ errorMessage}} <br/>
    {% endif %}


    <form method="POST" class="post-form">{% csrf_token %}
        <div class="fieldWrapper">
            {{ form.title.errors }}
            <label for="{{ form.title.id_for_label }}">Title:</label>
            {{ form.title }}
        </div>
        <p><label for="id_member">Member:</label> <select name="member" required id="id_member" multiple>
            {% for i in friends %}
                {% if i.creator == user %}
                    <option value="{{ i.friend.id }}">{{ i.friend.username }}</option>
                {% else %}
                     <option value="{{ i.creator.id }}">{{ i.creator.username }}</option>
                {% endif %}
            {% endfor %}

        </select></p>
        <button type="submit" class="btn btn-primary" >Save</button>
    </form>

    <br/>
    <a href="{% url 'index' %}">Don't create a group</a> <br/>
</div>
{% endblock %}