<section class="features-icons bg-light text-center">

    <div class="container">
        <h3>Hello {{first_Name}} {{name}}</h3> <br>
        <p>Thanks for sending a contact request to <a href="https://unilichat.herokuapp.com/">uniCh@t </a>, we will
            answer your claim as fast as possible. </p> <br>
        <p>Best regards</p>

        <p>Your request: <br>
            <strong>Subject: </strong> {{subject}}<br>
            <strong>Message: </strong> {{text}}<br>

            <strong>Telephone: </strong>{{tel}}<br>
            <strong>Email: </strong>{{mail}}<br>
        </p>

    </div>

</section>
