<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

  Hi {{ user.username }}!

  <br />

  Chat: {{ chatname }}

  <ul>
        <li><a href="{% url 'index' %}">Global</a></li>

  {% if friendlist %}
    {% for entry in friendlist %}
        <li><a href="{% url 'friendchat' entry.friend.id %}">{{ entry.friend.username }}</a></li>
    {% endfor %}
  {% endif %}

  </ul>

  Messages: <br />
  <ul>
  {% if chatMessages %}
    {% for message in chatMessages %}
      <li>{{ message.creator.username }}: {{ message.message }}</li>
    {% endfor %}
  {% endif %}
  </ul>

  <p><a href="{% url 'addfriend' %}">Add friend</a></p>
  <p><a href="{% url 'creategroup' %}">Create Group</a> </p>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
  <p><a href="{% url 'settings' %}">Settings</a></p>
{% endblock %}