<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="container">
    <br>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Chat</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"><img src='{{ currentChatImagePath }}'
                                                       alt='not found'
                                                       onerror=this.src="https://ptetutorials.com/images/user-profile.png"
                            ></div>
                            <div class="chat_ib">
                                <h5>{{ chatname }}</h5>
                            </div>
                        </div>
                    </div>


                    <br/>


                    <ul> Friends

                        {% if friendlist %}
                        {% for entry in friendlist %}
                        <div class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img"><img src='{{ entry.imagePath }}'
                                                           alt='not found'
                                                           onerror=this.src="https://ptetutorials.com/images/user-profile.png">
                                </div>
                                <div class="chat_ib">
                                    <h5><a href="{% url 'friendchat' entry.idForLink %}">{{ entry.displayName }}</a>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </ul>
                    <ul>Groups
                        {% if groupchatlist %}
                        {% for entry in groupchatlist %}
                        <div class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img"><img
                                        src="https://cdn3.iconfinder.com/data/icons/speech-bubble-2/100/Group-512.png"
                                        alt="sunil"></div>
                                <div class="chat_ib">
                                    <h5><a href="{% url 'groupchat' entry.id %}">{{ entry.title }}</a>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mesgs">
                <div id="ajaxMessages" class="msg_history">
                    {% include 'getmessages.html' %}
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form method="Post" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                            <input type="text" name="MessageText" class="write_msg" placeholder="Type a message"/>


                            <button type="submit" class="msg_send_btn"><i class="fa fa-paper-plane-o"
                                                                          aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function updateChat() {
        $.ajax({
            {% if chattype == 'friend' %}
            url: "{% url 'ajaxfriendchat' chatId %}"
            {% endif %}
            {% if chattype == 'group' %}
            url: "{% url 'ajaxgroupchat' chatId %}"
            {% endif %}
            {% if chattype == 'global' %}
            url: "{% url 'ajaxglobalchat' %}"
            {% endif %}
        })
        .done(function (data) {
            if (data!= olddata){
                $("#ajaxMessages").html(data);
                $('#ajaxMessages').scrollTop($('#ajaxMessages ul').height());
                olddata = data;
            }
        });
            setTimeout(updateChat, 5000);
        }
        var olddata = '';
        updateChat();
</script>

</body>
{% endblock %}

