<!-- templates/index.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<!-- TODO: set the scrollbar for messages to the bottom on default to show the latest messages -->
<div class="container">
    <h3 class=" text-center">Hi {{ user.username }}!</h3>
    <div class="messaging">
        <div class="inbox_msg">
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Chat</h4>
                    </div>
                </div>
                <div class="inbox_chat">
                    <div class="chat_list active_chat">
                        <div class="chat_people">
                            <div class="chat_img"><img src='{{ currentChatImagePath }}'
                                                       alt='not found'
                                                       onerror=this.src="https://ptetutorials.com/images/user-profile.png"
                            ></div>
                            <div class="chat_ib">
                                <h5>{{ chatname }}</h5>
                            </div>
                        </div>
                    </div>


                    <br/>


                    <ul> Friends

                        {% if friendlist %}
                        {% for entry in friendlist %}
                        <div class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img"><img src='{{ entry.imagePath }}'
                                                           alt='not found'
                                                           onerror=this.src="https://ptetutorials.com/images/user-profile.png">
                                </div>
                                <div class="chat_ib">
                                    <h5><a href="{% url 'friendchat' entry.idForLink %}">{{ entry.displayName }}</a>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}

                    </ul>
                    <ul>Groups
                        {% if groupchatlist %}
                        {% for entry in groupchatlist %}
                        <div class="chat_list">
                            <div class="chat_people">
                                <div class="chat_img"><img
                                        src="https://cdn3.iconfinder.com/data/icons/speech-bubble-2/100/Group-512.png"
                                        alt="sunil"></div>
                                <div class="chat_ib">
                                    <h5><a href="{% url 'groupchat' entry.id %}">{{ entry.title }}</a>
                                    </h5>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
            </div>
            <div class="mesgs">
                <div class="msg_history">
                    <ul>
                        {% if chatMessages %}
                        {% for message in chatMessages %}
                        {% if message.creator.username == user.username %}
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>{{ message.message }}</p>
                                <span class="time_date"> {{ message.createdAt }}</span>
                            </div>
                        </div>

                        {% endif %}
                        {% if message.creator.username != user.username %}
                        <div class="incoming_msg">
                            <div class="incoming_msg_img"><img
                                    src={{ message.ProfileImagePath }} alt="sunil" onerror=this.src="https://ptetutorials.com/images/user-profile.png"></div>
                            <div class="received_msg">
                                <div class="received_withd_msg">
                                    <p>{{ message.message }}</p>
                                    <span class="time_date">{{ message.creator.username }} {{ message.createdAt }}</span>
                                </div>
                            </div>
                        </div>

                        {% endif %}
                        {% endfor %}
                        {% endif %}
                    </ul>
                </div>
                <div class="type_msg">
                    <div class="input_msg_write">
                        <form method="Post" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                            <input type="text" name="MessageText" class="write_msg" placeholder="Type a message" />


                            <button type="submit" class="msg_send_btn"><i class="fa fa-paper-plane-o"
                                                                          aria-hidden="true"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}