<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
</head>
<footer class="navbar navbar-expand-lg navbar-light bg-light fixed-bottom">
     <ul class="navbar-nav mr-auto">
        <li class="nav-item active"><a class="nav-link" href="/uniChat/aboutUs">About us</a></li>
        <li class="nav-item active"><a class="nav-link" href="/uniChat/contact">Contact</a></li>
        <li class="nav-item active"><a class="nav-link" href="/uniChat/impressum">Impressum</a></li>
     </ul>
     <div class="footer-copyright">
        <p>© 2020 Copyright Universität Liechtenstein. All rights reserved.</p>
    </div>
</footer>
